---
import MainLayout from '../layouts/MainLayout.astro';
import IntroStory from '../content/stories/intro.mdx';
---

<MainLayout title="C Story | System Initialization">
  <div class="mt-8">
    <IntroStory />
  </div>
</MainLayout>
